
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:wght@200&family=Ubuntu&display=swap');

:root {
    --head: Ubuntu;
    --sub: Kanit;
    --text: Dosis;
  }

#bodiv{
display:grid;
justify-content: center;
align-items: center;
}

 .container{
   box-shadow: 2px 2px 5px rgb(218, 203, 203) ;
 }

#head-guest{
   position: sticky;
   z-index: 100;
   top: 0;
}


 .head h1{

    font-family: var(--head);
    text-shadow: 2px 2px 5px rgb(218, 203, 203);

 }
 .head h3{
    font-family: var(--text);

 }

 button{
    font-family: var(--text);

 }

 a{
    font-family: var(--text);

 }
#ticketForm{
    /* position: sticky;  */
    top: 10px; 
    left: 690px; 
    z-index: 1000;
    width: 35rem;
    height: 35rem;
    font-family: var(--sub);
    overflow:auto;

}

#ticket-guest, .bg-info{
   font-family: var(--sub);
   overflow: hidden;

}
#ticketImage{
    width: 400px;
    max-height: 400px;
    overflow:auto;

}

#submittedNotification{
    position: sticky;

    z-index: 1000;
    height: 100%;
    font-family: var(--head);

}
#register-head, #login-head{
   font-family: var(--head);

}

#issue, #description, #status, #comments, #category, #comments-label, #status-label{
   font-size: x-small;
   font-family: var(--head);

   color: black;
}

.forms-user{
   font-family: var(--text);
}

#allusersTickets{
   text-shadow: none;
}

#ticketForm{
   font-family: var(--sub);
   overflow:auto;
   z-index: 1000;

}


/* # max, what is below that

# min, what is over that */
 @media only screen and (max-width: 600px) {
 /* abajo de 600px */
   #ticketForm{
    
      top: 300px; 
      left: 250px; 
      width: 11rem;
      height: 25rem;
  
  }

  #ticketImage{
    width: 100px;
    max-height: 100px;
}

#head-guest{
   margin-left: 1rem ;
   overflow: hidden;
}

#userTickets{
   margin-left: -2rem;
}

} 


@media only screen and (min-width: 1000px) {

   #ticketForm{
    
      top: 300px; 
      left: 530px; 
      width: 28rem;
      /*height: 30rem; */
  
  }

  /* #head-guest{
   margin-left: 1rem ;
   } */

   #userTickets{
      margin-left: -3rem;
   }
}

@media only screen and (min-width: 1200px) {

#ticketForm{
   /* position: sticky;  */
   top: 10px; 
   left: 690px; 
   width: 35rem;
   height: 35rem;


}
}