
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:wght@200&family=Ubuntu&display=swap');

:root {
    --head: Ubuntu;
    --sub: Kanit;
    --text: Dosis;
  }

 .container{
   box-shadow: 2px 2px 5px rgb(218, 203, 203) ;
 }

#head-guest{
   position: sticky;
   z-index: 100;
   top: 0;
}


 .head h1{

    font-family: var(--head);
    text-shadow: 2px 2px 5px rgb(218, 203, 203);

 }
 .head h3{
    font-family: var(--text);

 }

 button{
    font-family: var(--text);

 }

 a{
    font-family: var(--text);

 }
#ticketForm{
    /* position: sticky; */
    top: 10px; 
    left: 700px; 
    z-index: 1000;
    width: 100%;
    height: 95%;
    font-family: var(--sub);
    overflow-y:auto;

}

#ticket-guest, .bg-info{
   font-family: var(--sub);

}
#ticketImage{
    width: 400px;
    max-height: 400px;
}

#submittedNotification{
    position: sticky;

    z-index: 1000;
    height: 100%;
    font-family: var(--head);

}
#register-head, #login-head{
   font-family: var(--head);

}

#issue, #description, #status-label, #comments-label, #category{
   font-size: x-small;
   font-family: var(--head);

   color: black;
}

.forms-user{
   font-family: var(--text);
}

