{% extends "guestServicedesk/layout.html" %}

{% load static %}


{% block body %}
<div class="row bg-info text-light">
    <h2 class="  col-6 m-2">Welcome, {{ user.username }}!</h2>
    <img src="{% static "guestServicedesk/images/mantenimiento.jpg" %}" alt="LOGO" class="offset-md-10" style="width: 100px;">
</div>
<div class="row">
    <div class="col-6 offset-10">User Type: Guest</div>
</div>
    <div class="row">
        <a class="col-6 offset-10" href="{% url 'login' %}" id="logout-link">Logout</a>
    </div>


    <button class="m-3 btn btn-success" id="openTicketFormButton">Create Ticket</button>
    <div id="submittedNotification"></div>


    <div class="container">
    <div id="ticketForm" style="display: none;" class="p-3 space-between">
        <form id="ticketFormContent">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="title" required><br>
                </div>
                <div class="col-6">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" required></textarea><br>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="apartment">Apartment:</label>
                    <select id="apartmentNumber">
                        <!-- <option value="">All</option> -->
                    </select>            
                </div>
        
                <div class="col-6">
                    <label for="contact">Contact number:</label>
                    <input type="text" id="contact" name="contact" required><br>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="category">Category:</label>
                    <select id="category" name="category" required>
                        <option value="electricity">Electricity</option>
                        <option value="plumber">Plumber</option>
                        <option value="structures">Structures</option>
                        <option value="locksmith">Locksmith</option>
                    </select><br>
                </div>
                
                <div class="col-6">
                    <label for="picture">Picture:</label>
                    <input type="file" id="picture" name="picture"><br>
                </div>
            </div>       
            <button class="btn btn-success" type="button" id="submitTicket" onclick="submitNotification()">Submit</button>
            <button class="btn btn-secondary" type="button" id="cancelTicket">Cancel</button>
        </form>
    </div>        
    </div>

    
    <div id="userTickets" class=" container-fluid bg-dark p-5 " >

        <!-- User's tickets will be displayed here -->
    </div>


    

    <script type="text/babel" src="{% static 'guestServicedesk/guestindex.js' %}"></script>
    <script>
        function populateApartmentNumbers() {
            const apartmentSelect = document.getElementById("apartmentNumber");
            const apartmentInput = document.getElementById("apartment");
            for (let i = 101; i <= 111; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.text = i;
                apartmentSelect.appendChild(option);
            }
        }
        populateApartmentNumbers();
    </script>
{% endblock %}