{% load static %}


<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script> 
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>  
    <title>User Index</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <a href="{% url 'login' %}" id="logout-link">Logout</a>
    <div>User Type: Guest</div>
    <button id="openTicketFormButton">Create Ticket</button>
    <div id="submittedNotification"></div>

    <div id="userTickets">

        <!-- User's tickets will be displayed here -->
    </div>

    <div id="ticketForm" style="display: none;">
        <form id="ticketFormContent">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br>
        
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea><br>
        
            <!-- Add an input field for the Apartment -->
            <label for="apartment">Apartment:</label>
            <select id="apartmentNumber">
                <!-- <option value="">All</option> -->
            </select>            
            <br>
            
            <label for="contact">Contact number:</label>
            <input type="text" id="contact" name="contact" required><br>
        
            <!-- Add a dropdown menu for the Category field -->
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="electricity">Electricity</option>
                <option value="plumber">Plumber</option>
                <option value="structures">Structures</option>
                <option value="locksmith">Locksmith</option>
            </select><br>
        
            <!-- New input field for file upload -->
            <label for="picture">Picture:</label>
            <input type="file" id="picture" name="picture"><br>
                    
            <button type="button" id="submitTicket" onclick="submitNotification()">Submit</button>
            <button type="button" id="cancelTicket">Cancel</button>
        </form>
    </div>        
    

    <script type="text/babel" src="{% static 'guestServicedesk/guestindex.js' %}"></script>
    <script>
        function populateApartmentNumbers() {
            const apartmentSelect = document.getElementById("apartmentNumber");
            const apartmentInput = document.getElementById("apartment");
            for (let i = 101; i <= 111; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.text = i;
                apartmentSelect.appendChild(option);
            }
        }
        populateApartmentNumbers();
    </script>
</body>
</html>