{% extends "guestServicedesk/layout.html" %}

{% load static %}

{% block body %}

    <!-- heading -->
    <div class="row bg-info text-light">
        <div class="col-7"><h2 class="  col-6 m-2"><i class="bi bi-wrench-adjustable-circle-fill"></i> Welcome, {{ user.username }}!</h2></div>
        <div class="col-4" ><img src="{% static "guestServicedesk/images/mantenimiento.jpg" %}" alt="Logo" class="offset-md-10" style="width: 100px;"></div>
    </div>
    <div class="row  bg-info">
        <div class="col-6 offset-10">Maintenance User</div>
    </div>
        <div class="row">
            <a class="col-6 offset-10" href="{% url 'login' %}" id="logout-link"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </div>

    <!--     Search -->
    <div class="row m-3">
        <div class="col-6">
            <label class="form-label" for="apartmentNumber"><i class="bi bi-door-closed"></i>Apartment Number:</label>
            <select class="form-control" id="apartmentNumber">
                <option value="">All</option>
            </select>
        </div>

        <div class="col-6">
            <label class="form-label" for="category"><i class="bi bi-tools"></i> Category:</label>
            <select class="form-control" id="category">
                <option value="">All</option>
                <option value="electricity">Electricity</option>
                <option value="plumber">Plumber</option>
                <option value="structures">Structures</option>
                <option value="locksmith">Locksmith</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-1">
            <button class="btn btn-success m-1" id="searchButton"><i class="bi bi-search"></i> Search</button>
        </div>
        <div class="col-5 ">
            <button class="m-1 btn btn-info"  id="oldestFirst" onclick="reArrangeHandler()"><i class="bi bi-arrows-vertical fs-8"></i>Toggle timeline order</button>
        </div>
    </div>


    <!--     Update ticket form -->
    <div id="ticketForm" class="col-4 bg-info " style="display: none;">
        <h2 id="formTitle" class="text-light">Ticket</h2>

        <form id="updateForm" class="text-center">
            {% csrf_token %}

            <input class="form-control" type="hidden" id="ticketID" name="ticketID" value="">
            
            <label class="form-label" for="status">Status:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="reported">Reported</option>
                <option value="assigned">Assigned</option>
                <option value="solved">Solved</option>
            </select><br>

            <label class="form-label" for="comments">Add Comments:</label>
            <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br>
            <div id="imageContainer" >
                <img id="ticketImage" src="" alt="Ticket Picture" />
            </div>
            <button class="btn btn-success" type="button" id="updateButton" data-id="" onclick="submitNotification()">Update</button>
            <button  class="btn btn-secondary" type="button" id="cancelTicket">Close</button>
        </form>
    </div>
        

    <div id="submittedNotification" class="text-info"></div>

    <div id="allusersTickets" class="container flex-column-reverse border rounded border-light p-1" style="z-index: 0;">
        
        <!-- All user tickets will be displayed here -->
    </div>

        
    <script type="text/babel" src="{% static 'guestServicedesk/maintenanceindex.js' %}"></script>
    <script>
        function populateApartmentNumbers() {
            const apartmentSelect = document.getElementById("apartmentNumber");
            const apartmentInput = document.getElementById("apartment");
            for (let i = 101; i <= 111; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.text = i;
                apartmentSelect.appendChild(option);
            }
        }
        populateApartmentNumbers();
    </script>
{% endblock %}


