{% extends "guestServicedesk/layout.html" %}

{% load static %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class=" rounded bg-info p-3 text-center">
        <form method="post" class="text-center centered-div">
            {% csrf_token %}
            <h2 id="register-head">Register</h2>
            <label class="form-label text-light" for="username" placeholder="Create a username...">Username:</label>
            <input id="username" class="form-control" type="text" name="username" required><br>
            <label  class="text-light" for="password" placeholder="Create a password...">Password:</label>
            <input id="password" type="password" name="password" required><br>
            
            <label class="form-label text-light text-left" for="user_type">User Type:</label>
            <select class="form-control" id="user_type" name="user_type" required>
                <option value="guest">Guest</option>
                <option value="maintenance">Maintenance</option>
            </select><br>
            
            <button class="btn btn-success" type="submit">Register</button>
            <p>Do you have an account already? <a  class="text-light" href="{% url 'login' %}">Log in</a></p>
    
        </form>
        </div>
    {% endblock %}
